<nav class="navbar">
  <div class="brand">EmployeeHub</div>

  <!-- Links visible only when logged in -->
  <div class="nav-links" [ngClass]="{ 'hidden': !isLoggedIn }">

    <!-- Everyone can access Employee Directory -->
    <a *ngIf="userRole === 'HR' || userRole === 'Manager'" routerLink="/employees" routerLinkActive="active">
      Employee Directory</a>

    <!-- Employees can access Leave Tracker -->
    <a *ngIf="userRole === 'Employee'" routerLink="/employee-leave-tracker" routerLinkActive="active">My Leave Requests</a>

    <!-- HR and Manager can access Leave Management -->
    <a *ngIf="userRole === 'HR' || userRole === 'Manager'" routerLink="/leave-managment" routerLinkActive="active">
      Manage Leave Requests
    </a>

    <!-- HR can add employees -->
    <a *ngIf="userRole === 'HR'" routerLink="/add-employee" routerLinkActive="active">Add Employee</a>

    <!-- Manager can see Departments -->
    <a *ngIf="userRole === 'Manager'" routerLink="/departments" routerLinkActive="active">Departments</a>

    <!-- Only HR can manage roles -->
    <a *ngIf="userRole === 'HR'" routerLink="/roles" routerLinkActive="active">Roles</a>

  </div>

  <!-- Dynamic Login/Logout Button -->
  <button *ngIf="isLoggedIn; else loginBtn" (click)="logout()">Logout</button>
  <ng-template #loginBtn>
    <button routerLink="/login">Login</button>
  </ng-template>
</nav>

<router-outlet></router-outlet>
